<% provide :page_title, 'Меню' %>

<section>

  <div class="menu-headline">
    <p>Попробуйте неповторимый вкус пиццы на дровах!</p>
  </div>

    <%== pagy_nav @pagy %>

    <%= render 'pizza' %>

    <%== pagy_nav @pagy %>
  <div class="lineshort"></div>
</section>